@model IEnumerable<Produit_Ecologique.Models.MediaListItemViewModels>


<table class="table">

    <tbody>
        <tr>
@foreach (var item in Model) {
       
            <td>

                    <img src="~/assets/imgs/@item.url_image" style="width: 200px; height: 200px;" />
            </td>
        
        
}
        </tr>
    </tbody>
</table>
