@inject BLL_Produit_Ecologique.Services.CategorieService categorieRepository

<div class="col-md-12">
    <form asp-action="GetAllProduct" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input name="search" class="form-control custom-input" placeholder="Recherche par nom..." />
                </div>
            </div>
            <div class="col-md-3">
                <select name="score" class="form-control">
                    <option value="">Veuillez choisir un score</option>
                    @foreach (var score in Enum.GetValues(typeof(EcoScore)))
                    {
                        <option  value="@score">@score</option>
                    }
                </select>
            
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>